2020 USPS Vacant Building Data

In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests

In [2]:
# Store filepath in a variable
data_2020Q4 = "Resources/usps_vac_2020Q4.csv"
vac_2020Q4_df = pd.read_csv(data_2020Q4)
vac_2020Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
0,72001956700,3768,175,75,217,31,0,2775.72,3814.19,0.0,...,0,28,1,0,79,8,0,1,0,0
1,72003430300,2710,389,81,38,34,0,3276.37,4380.88,0.0,...,0,1,1,0,1790,176,0,0,0,0
2,72011810500,896,26,2,76,2,0,1754.53,1794.50,0.0,...,0,8,1,0,65,2,0,0,0,0
3,72013301200,5585,390,16,134,5,0,2103.34,3151.00,0.0,...,0,9,1,0,3730,325,0,0,0,0
4,72023830603,3193,13,7,30,0,0,2117.93,0.00,0.0,...,0,0,0,0,607,5,0,0,0,0

In [3]:
data_2020Q3 = "Resources/usps_vac_2020Q3.csv"
vac_2020Q3_df = pd.read_csv(data_2020Q3)
vac_2020Q3_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
0,72001956700,3764,175,75,223,31,0,2663.07,3723.19,0.0,...,0,12,1,0,79,8,0,4,0,0
1,72003430300,2712,387,81,38,34,0,3136.18,4289.88,0.0,...,0,1,1,0,1792,174,0,0,0,0
2,72011810300,542,50,17,32,10,0,1482.00,1899.10,0.0,...,0,31,3,0,89,15,0,0,0,0
3,72011810500,896,26,2,76,2,0,1581.34,1703.50,0.0,...,0,8,1,0,65,2,0,0,0,0
4,72013301200,5584,391,16,134,5,0,1840.97,3060.00,0.0,...,0,8,0,0,3729,326,0,0,0,0

In [4]:
data_2020Q2 = "Resources/usps_vac_2020Q2.csv"
vac_2020Q2_df = pd.read_csv(data_2020Q2)
vac_2020Q2_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
0,72001956700,3751,175,75,247,32,0,2717.19,3525.69,0.0,...,0,10,1,0,79,8,0,0,0,0
1,72003430300,2710,389,81,40,34,0,3167.30,4198.88,0.0,...,0,3,1,0,1788,176,0,0,0,0
2,72011810300,542,50,17,43,11,0,1541.05,1678.45,0.0,...,0,31,3,0,89,15,0,3,0,0
3,72011810500,896,26,2,86,2,0,1503.24,1612.50,0.0,...,0,8,1,0,65,2,0,1,0,0
4,72013301200,5574,399,16,190,9,0,1639.09,2340.56,0.0,...,0,9,0,0,3720,334,0,0,0,0

In [5]:
data_2020Q1 = "Resources/usps_vac_2020Q1.csv"
vac_2020Q1_df = pd.read_csv(data_2020Q1)
vac_2020Q1_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
0,1039961900,1253,91,16,64,22,0,2420.47,2248.82,0.0,...,0,15,0,0,127,9,0,0,0,0
1,1039962000,3280,749,48,183,56,0,2162.74,2447.29,0.0,...,0,17,2,0,1303,381,0,1,0,0
2,72001956800,85,5,7,15,0,0,2134.80,0.00,0.0,...,0,0,0,0,5,0,0,0,0,0
3,72005400300,1750,211,4,7,0,0,3563.00,0.00,0.0,...,0,0,0,0,750,145,0,0,0,0
4,72005401100,292,45,10,38,11,0,600.16,4844.45,0.0,...,0,0,0,0,21,5,0,0,0,0

In [6]:
key = "Resources/corr_key.csv"
corr_key_df = pd.read_csv(key)
corr_key_df

           GEOID             Corridor
0    24510260403         Highlandtown
1    24510230200  Hamilton Lauraville
2    24510260102              Pimlico
3    24510260303  Hamilton Lauraville
4    24510260800         Highlandtown
..           ...                  ...
195  24510220100                  NaN
196  24510230300                  NaN
197  24510250207                  NaN
198  24510250303                  NaN
199  24510260202                  NaN

[200 rows x 2 columns]

In [7]:
vac_2020Q4_df.shape

(73469, 61)

In [8]:
vac_2020Q3_df.shape

(73469, 61)

In [9]:
# Remove rows that do not include Baltimore GEOID ("24510....); Baltimore FIPS  is 24, Baltimore FIPS is 510, rest of the geoid is census tract #
balt_2020Q4_df = vac_2020Q4_df[vac_2020Q4_df["geoid,C,11"].between(24510000000, 24510999999, inclusive=True)]
balt_2020Q4_df

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
1325,24510030200,1558,506,172,92,64,0,788.02,1661.98,0.0,...,0,0,7,0,95,143,0,0,0,0
1328,24510060100,1263,43,21,149,7,0,1078.05,2081.71,0.0,...,0,2,1,0,13,6,0,0,0,0
1329,24510150800,2129,139,507,342,18,0,1644.63,2284.33,0.0,...,0,8,0,0,215,22,0,0,0,0
1330,24510130803,1428,27,110,33,2,0,999.00,2728.00,0.0,...,0,56,0,0,16,2,0,0,0,0
1331,24510271002,1790,87,68,255,7,0,1360.61,940.86,0.0,...,0,4,0,0,22,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72748,24510080500,839,52,20,123,6,0,1662.68,2218.83,0.0,...,0,0,0,0,141,17,0,0,0,0
72750,24510090500,1423,206,93,107,12,0,2376.38,2519.92,0.0,...,0,2,0,0,627,130,0,0,0,0
72752,24510270903,1461,58,236,177,25,0,951.49,2233.00,0.0,...,0,0,0,0,108,4,0,0,0,0
73254,24510260301,1620,44,67,122,8,0,1556.82,1132.25,0.0,...,0,0,0,0,6,0,0,0,0,0
73372,24510250203,890,24,74,64,0,0,1864.84,0.00,0.0,...,0,0,0,0,9,4,0,0,0,0

In [10]:
balt_2020Q4_df.shape

(200, 61)

In [11]:
# Remove rows that do not include Baltimore GEOID ("24510....); Baltimore FIPS  is 24, Baltimore FIPS is 510, rest of the geoid is census tract #
balt_2020Q3_df = vac_2020Q3_df[vac_2020Q3_df["geoid,C,11"].between(24510000000, 24510999999, inclusive=True)]
balt_2020Q3_df

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
1628,24510130803,1428,27,110,33,2,0,899.64,2637.00,0.0,...,0,0,0,0,16,2,0,0,0,0
1629,24510271002,1789,87,68,261,7,0,1253.99,849.86,0.0,...,0,4,0,0,23,4,0,0,0,0
1634,24510130600,2570,535,167,78,26,0,1380.46,1457.77,0.0,...,0,1,16,0,473,205,0,0,0,0
1635,24510260303,1322,160,15,51,10,0,324.67,2688.30,0.0,...,0,0,0,0,767,93,0,0,0,0
1637,24510151200,2019,31,55,315,4,0,2237.71,2508.00,0.0,...,0,0,1,0,181,5,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72793,24510270301,1186,45,138,74,2,0,1812.39,1854.50,0.0,...,0,2,0,0,22,4,0,0,0,0
72794,24510080500,839,52,20,117,5,0,1750.03,2569.00,0.0,...,0,0,0,0,141,17,0,1,0,0
72795,24510090500,1421,208,93,106,12,0,2318.42,2428.92,0.0,...,0,1,0,0,625,132,0,0,0,0
73272,24510260301,1621,45,66,125,10,0,1517.55,1145.50,0.0,...,0,0,0,0,6,0,0,0,0,0
73360,24510250203,890,24,74,64,0,0,1670.08,0.00,0.0,...,0,0,0,0,9,4,0,0,0,0

In [12]:
balt_2020Q3_df.shape

(200, 61)

In [13]:
# Remove rows that do not include Baltimore GEOID ("24510....); Baltimore FIPS  is 24, Baltimore FIPS is 510, rest of the geoid is census tract #
balt_2020Q2_df = vac_2020Q2_df[vac_2020Q2_df["geoid,C,11"].between(24510000000, 24510999999, inclusive=True)]
balt_2020Q2_df

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
1628,24510030200,1552,503,172,89,65,0,625.30,1548.66,0.0,...,0,70,10,0,25,140,0,0,0,0
1629,24510180100,1255,169,123,25,10,0,1194.84,1223.80,0.0,...,0,0,2,0,91,30,0,0,0,0
1630,24510150800,2119,138,510,359,18,2,1446.59,2102.33,385.0,...,0,4,0,0,215,22,0,0,0,0
1631,24510160300,820,53,127,99,7,0,1703.14,1184.29,0.0,...,0,2,0,0,264,14,0,0,0,0
1632,24510280302,1131,5,211,78,1,0,1176.49,174.00,0.0,...,0,0,0,0,15,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72796,24510270301,1198,45,131,75,2,0,1771.56,1763.50,0.0,...,0,3,0,0,21,4,0,0,0,0
72797,24510270903,1460,58,236,179,25,0,800.89,2051.00,0.0,...,0,0,0,0,108,4,0,0,0,0
72798,24510090500,1419,209,93,107,12,0,2169.63,2337.92,0.0,...,0,1,0,0,624,133,0,0,0,0
73274,24510260301,1621,45,66,133,9,0,1405.25,1180.44,0.0,...,0,0,0,0,6,0,0,0,0,0
73362,24510250203,890,24,74,70,0,0,1655.44,0.00,0.0,...,0,0,0,0,9,4,0,0,0,0

In [19]:
balt_2020Q2_df.shape

(200, 61)

In [20]:
# Remove rows that do not include Baltimore GEOID ("24510....); Baltimore FIPS  is 24, Baltimore FIPS is 510, rest of the geoid is census tract #
balt_2020Q1_df = vac_2020Q1_df[vac_2020Q1_df["geoid,C,11"].between(24510000000, 24510999999, inclusive=True)]
balt_2020Q1_df

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0","pqns_is_r,N,16,0","pqns_is_b,N,16,0","pqns_is_o,N,16,0"
3271,24510140100,3030,109,389,94,1,0,1881.55,1150.00,0.0,...,0,318,3,0,58,33,0,0,0,0
3272,24510170200,1849,196,146,207,5,0,2197.27,1270.60,0.0,...,0,3,2,0,72,129,0,0,0,0
3275,24510070400,1337,187,58,29,2,0,545.79,1058.50,0.0,...,0,12,6,0,340,60,0,0,0,0
3278,24510080302,1244,27,26,141,5,0,1494.65,1381.20,0.0,...,0,0,0,0,3,0,0,0,0,0
3281,24510272004,2011,16,282,28,2,0,794.32,4169.50,0.0,...,0,0,0,0,41,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72654,24510250205,1713,246,92,149,25,0,1771.66,2269.44,0.0,...,0,0,3,0,14,35,0,0,0,0
72726,24510260404,745,369,60,74,34,0,1446.86,2040.18,0.0,...,0,0,1,0,7,30,0,0,0,0
72891,24510250103,1704,348,78,47,35,0,734.96,1587.69,0.0,...,0,0,10,0,20,80,0,0,0,0
73305,24510170100,953,175,119,21,7,0,2053.52,3650.00,0.0,...,0,4,4,0,13,39,0,0,0,0
73356,24510270401,2130,90,138,148,13,0,892.20,2703.08,0.0,...,0,1,0,0,39,6,0,0,0,0

In [21]:
balt_2020Q1_df.shape

(200, 61)

In [15]:
for col in balt_2020Q4_df.columns:
    print(col)

geoid,C,11
ams_res,N,16,0
ams_bus,N,16,0
ams_oth,N,16,0
res_vac,N,16,0
bus_vac,N,16,0
oth_vac,N,16,0
avg_vac_r,N,16,2
avg_vac_b,N,16,2
avg_vac_o,N,16,2
vac_3_res,N,16,0
vac_3_bus,N,16,0
vac_3_oth,N,16,0
vac_3_6_r,N,16,0
vac_3_6_b,N,16,0
vac_3_6_o,N,16,0
vac_6_12r,N,16,0
vac_6_12b,N,16,0
vac_6_12o,N,16,0
vac_12_24r,N,16,0
vac_12_24b,N,16,0
vac_12_24o,N,16,0
vac_24_36r,N,16,0
vac_24_36b,N,16,0
vac_24_36o,N,16,0
vac_36_res,N,16,0
vac_36_bus,N,16,0
vac_36_oth,N,16,0
pqv_is_res,N,16,0
pqv_is_bus,N,16,0
pqv_is_oth,N,16,0
pqv_ns_res,N,16,0
pqv_ns_bus,N,16,0
pqv_ns_oth,N,16,0
nostat_res,N,16,0
nostat_bus,N,16,0
nostat_oth,N,16,0
avg_ns_res,N,16,2
avg_ns_bus,N,16,2
avg_ns_oth,N,16,2
ns_3_res,N,16,0
ns_3_bus,N,16,0
ns_3_oth,N,16,0
ns_3_6_res,N,16,0
ns_3_6_bus,N,16,0
ns_3_6_oth,N,16,0
ns_6_12_r,N,16,0
ns_6_12_b,N,16,0
ns_6_12_o,N,16,0
ns_12_24_r,N,16,0
ns_12_24_b,N,16,0
ns_12_24_o,N,16,0
ns_24_36_r,N,16,0
ns_24_36_b,N,16,0
ns_24_36_o,N,16,0
ns_36_res,N,16,0
ns_36_bus,N,16,0
ns_36_oth,N,16,0
pqns_is_r,N,16,0
pqns_is_b,N,16,0
pqns_is_o,N,16,0

In [16]:
# remove columns that aren't going to be analyzed
balt_2020Q4_df = balt_2020Q4_df.drop(["pqv_is_res,N,16,0", "pqv_is_bus,N,16,0", "pqv_is_oth,N,16,0",
                                 "pqv_ns_res,N,16,0", "pqv_ns_bus,N,16,0", "pqv_ns_oth,N,16,0",
                                 "pqns_is_r,N,16,0", "pqns_is_b,N,16,0", "pqns_is_o,N,16,0",
                                  ],
                                  axis=1)
balt_2020Q4_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_6_12_o,N,16,0","ns_12_24_r,N,16,0","ns_12_24_b,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0"
1325,24510030200,1558,506,172,92,64,0,788.02,1661.98,0.0,...,0,10,19,0,0,7,0,95,143,0
1328,24510060100,1263,43,21,149,7,0,1078.05,2081.71,0.0,...,0,0,0,0,2,1,0,13,6,0
1329,24510150800,2129,139,507,342,18,0,1644.63,2284.33,0.0,...,0,12,0,0,8,0,0,215,22,0
1330,24510130803,1428,27,110,33,2,0,999.00,2728.00,0.0,...,0,1,1,0,56,0,0,16,2,0
1331,24510271002,1790,87,68,255,7,0,1360.61,940.86,0.0,...,0,5,0,0,4,0,0,22,4,0

In [17]:
for col in balt_2020Q3_df.columns:
    print(col)

geoid,C,11
ams_res,N,16,0
ams_bus,N,16,0
ams_oth,N,16,0
res_vac,N,16,0
bus_vac,N,16,0
oth_vac,N,16,0
avg_vac_r,N,16,2
avg_vac_b,N,16,2
avg_vac_o,N,16,2
vac_3_res,N,16,0
vac_3_bus,N,16,0
vac_3_oth,N,16,0
vac_3_6_r,N,16,0
vac_3_6_b,N,16,0
vac_3_6_o,N,16,0
vac_6_12r,N,16,0
vac_6_12b,N,16,0
vac_6_12o,N,16,0
vac_12_24r,N,16,0
vac_12_24b,N,16,0
vac_12_24o,N,16,0
vac_24_36r,N,16,0
vac_24_36b,N,16,0
vac_24_36o,N,16,0
vac_36_res,N,16,0
vac_36_bus,N,16,0
vac_36_oth,N,16,0
pqv_is_res,N,16,0
pqv_is_bus,N,16,0
pqv_is_oth,N,16,0
pqv_ns_res,N,16,0
pqv_ns_bus,N,16,0
pqv_ns_oth,N,16,0
nostat_res,N,16,0
nostat_bus,N,16,0
nostat_oth,N,16,0
avg_ns_res,N,16,2
avg_ns_bus,N,16,2
avg_ns_oth,N,16,2
ns_3_res,N,16,0
ns_3_bus,N,16,0
ns_3_oth,N,16,0
ns_3_6_res,N,16,0
ns_3_6_bus,N,16,0
ns_3_6_oth,N,16,0
ns_6_12_r,N,16,0
ns_6_12_b,N,16,0
ns_6_12_o,N,16,0
ns_12_24_r,N,16,0
ns_12_24_b,N,16,0
ns_12_24_o,N,16,0
ns_24_36_r,N,16,0
ns_24_36_b,N,16,0
ns_24_36_o,N,16,0
ns_36_res,N,16,0
ns_36_bus,N,16,0
ns_36_oth,N,16,0
pqns_is_r,N,16,0
pqns_is_b,N,16,0
pqns_is_o,N,16,0

In [22]:
# remove columns that aren't going to be analyzed
balt_2020Q3_df = balt_2020Q3_df.drop(["pqv_is_res,N,16,0", "pqv_is_bus,N,16,0", "pqv_is_oth,N,16,0",
                                 "pqv_ns_res,N,16,0", "pqv_ns_bus,N,16,0", "pqv_ns_oth,N,16,0",
                                 "pqns_is_r,N,16,0", "pqns_is_b,N,16,0", "pqns_is_o,N,16,0",
                                  "NEW_ADDR_R,N,16,0", "NEW_ADDR_B,N,16,0", "NEW_ADDR_O,N,16,0",
                                  "DROP_ADD_R,N,16,0", "DROP_ADD_B,N,16,0", "DROP_ADD_O,N,16,0"],
                                  axis=1)
balt_2020Q3_df.head()

KeyError: "['NEW_ADDR_R,N,16,0' 'NEW_ADDR_B,N,16,0' 'NEW_ADDR_O,N,16,0'\n 'DROP_ADD_R,N,16,0' 'DROP_ADD_B,N,16,0' 'DROP_ADD_O,N,16,0'] not found in axis"

In [23]:
for col in balt_2020Q2_df.columns:
    print(col)

geoid,C,11
ams_res,N,16,0
ams_bus,N,16,0
ams_oth,N,16,0
res_vac,N,16,0
bus_vac,N,16,0
oth_vac,N,16,0
avg_vac_r,N,16,2
avg_vac_b,N,16,2
avg_vac_o,N,16,2
vac_3_res,N,16,0
vac_3_bus,N,16,0
vac_3_oth,N,16,0
vac_3_6_r,N,16,0
vac_3_6_b,N,16,0
vac_3_6_o,N,16,0
vac_6_12r,N,16,0
vac_6_12b,N,16,0
vac_6_12o,N,16,0
vac_12_24r,N,16,0
vac_12_24b,N,16,0
vac_12_24o,N,16,0
vac_24_36r,N,16,0
vac_24_36b,N,16,0
vac_24_36o,N,16,0
vac_36_res,N,16,0
vac_36_bus,N,16,0
vac_36_oth,N,16,0
pqv_is_res,N,16,0
pqv_is_bus,N,16,0
pqv_is_oth,N,16,0
pqv_ns_res,N,16,0
pqv_ns_bus,N,16,0
pqv_ns_oth,N,16,0
nostat_res,N,16,0
nostat_bus,N,16,0
nostat_oth,N,16,0
avg_ns_res,N,16,2
avg_ns_bus,N,16,2
avg_ns_oth,N,16,2
ns_3_res,N,16,0
ns_3_bus,N,16,0
ns_3_oth,N,16,0
ns_3_6_res,N,16,0
ns_3_6_bus,N,16,0
ns_3_6_oth,N,16,0
ns_6_12_r,N,16,0
ns_6_12_b,N,16,0
ns_6_12_o,N,16,0
ns_12_24_r,N,16,0
ns_12_24_b,N,16,0
ns_12_24_o,N,16,0
ns_24_36_r,N,16,0
ns_24_36_b,N,16,0
ns_24_36_o,N,16,0
ns_36_res,N,16,0
ns_36_bus,N,16,0
ns_36_oth,N,16,0
pqns_is_r,N,16,0
pqns_is_b,N,16,0
pqns_is_o,N,16,0

In [24]:
# remove columns that aren't going to be analyzed
balt_2020Q2_df = balt_2020Q2_df.drop(["pqv_is_res,N,16,0", "pqv_is_bus,N,16,0", "pqv_is_oth,N,16,0",
                                 "pqv_ns_res,N,16,0", "pqv_ns_bus,N,16,0", "pqv_ns_oth,N,16,0",
                                 "pqns_is_r,N,16,0", "pqns_is_b,N,16,0", "pqns_is_o,N,16,0",
                                  ],
                                  axis=1)
balt_2020Q2_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_6_12_o,N,16,0","ns_12_24_r,N,16,0","ns_12_24_b,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0"
1628,24510030200,1552,503,172,89,65,0,625.30,1548.66,0.0,...,0,4,13,0,70,10,0,25,140,0
1629,24510180100,1255,169,123,25,10,0,1194.84,1223.80,0.0,...,0,13,2,0,0,2,0,91,30,0
1630,24510150800,2119,138,510,359,18,2,1446.59,2102.33,385.0,...,0,10,0,0,4,0,0,215,22,0
1631,24510160300,820,53,127,99,7,0,1703.14,1184.29,0.0,...,0,29,0,0,2,0,0,264,14,0
1632,24510280302,1131,5,211,78,1,0,1176.49,174.00,0.0,...,0,0,0,0,0,0,0,15,1,0

In [25]:
for col in balt_2020Q1_df.columns:
    print(col)

geoid,C,11
ams_res,N,16,0
ams_bus,N,16,0
ams_oth,N,16,0
res_vac,N,16,0
bus_vac,N,16,0
oth_vac,N,16,0
avg_vac_r,N,16,2
avg_vac_b,N,16,2
avg_vac_o,N,16,2
vac_3_res,N,16,0
vac_3_bus,N,16,0
vac_3_oth,N,16,0
vac_3_6_r,N,16,0
vac_3_6_b,N,16,0
vac_3_6_o,N,16,0
vac_6_12r,N,16,0
vac_6_12b,N,16,0
vac_6_12o,N,16,0
vac_12_24r,N,16,0
vac_12_24b,N,16,0
vac_12_24o,N,16,0
vac_24_36r,N,16,0
vac_24_36b,N,16,0
vac_24_36o,N,16,0
vac_36_res,N,16,0
vac_36_bus,N,16,0
vac_36_oth,N,16,0
pqv_is_res,N,16,0
pqv_is_bus,N,16,0
pqv_is_oth,N,16,0
pqv_ns_res,N,16,0
pqv_ns_bus,N,16,0
pqv_ns_oth,N,16,0
nostat_res,N,16,0
nostat_bus,N,16,0
nostat_oth,N,16,0
avg_ns_res,N,16,2
avg_ns_bus,N,16,2
avg_ns_oth,N,16,2
ns_3_res,N,16,0
ns_3_bus,N,16,0
ns_3_oth,N,16,0
ns_3_6_res,N,16,0
ns_3_6_bus,N,16,0
ns_3_6_oth,N,16,0
ns_6_12_r,N,16,0
ns_6_12_b,N,16,0
ns_6_12_o,N,16,0
ns_12_24_r,N,16,0
ns_12_24_b,N,16,0
ns_12_24_o,N,16,0
ns_24_36_r,N,16,0
ns_24_36_b,N,16,0
ns_24_36_o,N,16,0
ns_36_res,N,16,0
ns_36_bus,N,16,0
ns_36_oth,N,16,0
pqns_is_r,N,16,0
pqns_is_b,N,16,0
pqns_is_o,N,16,0

In [26]:
# remove columns that aren't going to be analyzed
balt_2020Q1_df = balt_2020Q1_df.drop(["pqv_is_res,N,16,0", "pqv_is_bus,N,16,0", "pqv_is_oth,N,16,0",
                                 "pqv_ns_res,N,16,0", "pqv_ns_bus,N,16,0", "pqv_ns_oth,N,16,0",
                                 "pqns_is_r,N,16,0", "pqns_is_b,N,16,0", "pqns_is_o,N,16,0",
                                  ],
                                  axis=1)
balt_2020Q1_df.head()

,"geoid,C,11","ams_res,N,16,0","ams_bus,N,16,0","ams_oth,N,16,0","res_vac,N,16,0","bus_vac,N,16,0","oth_vac,N,16,0","avg_vac_r,N,16,2","avg_vac_b,N,16,2","avg_vac_o,N,16,2",...,"ns_6_12_o,N,16,0","ns_12_24_r,N,16,0","ns_12_24_b,N,16,0","ns_12_24_o,N,16,0","ns_24_36_r,N,16,0","ns_24_36_b,N,16,0","ns_24_36_o,N,16,0","ns_36_res,N,16,0","ns_36_bus,N,16,0","ns_36_oth,N,16,0"
3271,24510140100,3030,109,389,94,1,0,1881.55,1150.0,0.0,...,0,0,3,0,318,3,0,58,33,0
3272,24510170200,1849,196,146,207,5,0,2197.27,1270.6,0.0,...,0,0,2,0,3,2,0,72,129,0
3275,24510070400,1337,187,58,29,2,0,545.79,1058.5,0.0,...,0,20,20,0,12,6,0,340,60,0
3278,24510080302,1244,27,26,141,5,0,1494.65,1381.2,0.0,...,0,2,0,0,0,0,0,3,0,0
3281,24510272004,2011,16,282,28,2,0,794.32,4169.5,0.0,...,0,0,0,0,0,0,0,41,4,0

In [ ]:
# Q4: Sum columns for vacancies <24 months for businesses and add new column "Business vacancies <24 months"
columns_under24= ["vac_3_bus,N,16,0",
                 "vac_3_6_b,N,16,0",
                 "vac_6_12b,N,16,0",
                 "vac_12_24b,N,16,0"]
balt_2020Q4_df["Business vacancies <24 months"]=balt_2020Q4_df[columns_under24].sum(axis=1)
balt_2020Q4_df.head()

In [ ]:
# Q4: Sum columns for vacancies 24 months or longer for businesses and add new column "Business vacancies 24 mos. or longer"
columns_24plus= ["vac_24_36b,N,16,0",
                "vac_36_bus,N,16,0"]
balt_2020Q4_df["Business vacancies 24 mos. or longer"]=balt_2020Q4_df[columns_24plus].sum(axis=1)
balt_2020Q4_df.head()

In [ ]:
# Q4: Sum columns for "No-Stat" <24 months for businesses and add new column "Business No-Stat <24 months"
# "No-Stat" is for buildings that USPS does not consider deliverable either because they're under construction or are abandoned
columns_nostat24= ["ns_3_bus,N,16,0",
                  "ns_36_bus,N,16,0",
                  "ns_6_12_b,N,16,0",
                  "ns_12_24_b,N,16,0"
                  ]
balt_2020Q4_df["Business no-stat <24 months"]=balt_2020Q4_df[columns_nostat24].sum(axis=1)
balt_2020Q4_df.head()

In [ ]:
# Q4: Sum columns for "No-Stat" 24+ months for businesses and add new column "Business No-Stat 24 mos. or longer"

columns_nostat24plus= ["ns_24_36_b,N,16,0",
                       "ns_36_bus,N,16,0"]
                  
balt_2020Q4_df["Business no-stat 24 mos. or longer"]=balt_2020Q4_df[columns_nostat24plus].sum(axis=1)
balt_2020Q4_df.head()

In [ ]:
# Q3: Sum columns for vacancies <24 months for businesses and add new column "Business vacancies <24 months"
columns_under24= ["vac_3_bus,N,16,0",
                 "vac_3_6_b,N,16,0",
                 "vac_6_12b,N,16,0",
                 "vac_12_24b,N,16,0"]

balt_2020Q3_df["Business vacancies <24 months"]=balt_2020Q3_df[columns_under24].sum(axis=1)

In [ ]:
# Q3: Sum columns for vacancies 24 months or longer for businesses and add new column "Business vacancies 24 mos. or longer"
columns_24plus= ["vac_24_36b,N,16,0",
                "vac_36_bus,N,16,0"]
balt_2020Q3_df["Business vacancies 24 mos. or longer"]=balt_2020Q3_df[columns_24plus].sum(axis=1)

In [ ]:
# Q3: Sum columns for "No-Stat" <24 months for businesses and add new column "Business No-Stat <24 months"
# "No-Stat" is for buildings that USPS does not consider deliverable either because they're under construction or are abandoned
columns_nostat24= ["ns_3_bus,N,16,0",
                  "ns_36_bus,N,16,0",
                  "ns_6_12_b,N,16,0",
                  "ns_12_24_b,N,16,0"
                  ]
balt_2020Q3_df["Business no-stat <24 months"]=balt_2020Q3_df[columns_nostat24].sum(axis=1)

In [ ]:
# Q3: Sum columns for "No-Stat" 24+ months for businesses and add new column "Business No-Stat 24 mos. or longer"

columns_nostat24plus= ["ns_24_36_b,N,16,0",
                       "ns_36_bus,N,16,0"]
                  
balt_2020Q3_df["Business no-stat 24 mos. or longer"]=balt_2020Q3_df[columns_nostat24plus].sum(axis=1)
balt_2020Q3_df.head()

In [ ]:
# Q2: Sum columns for vacancies <24 months for businesses and add new column "Business vacancies <24 months"
columns_under24= ["vac_3_bus,N,16,0",
                 "vac_3_6_b,N,16,0",
                 "vac_6_12b,N,16,0",
                 "vac_12_24b,N,16,0"]

balt_2020Q2_df["Business vacancies <24 months"]=balt_2020Q2_df[columns_under24].sum(axis=1)

In [ ]:
# Q2: Sum columns for vacancies 24 months or longer for businesses and add new column "Business vacancies 24 mos. or longer"
columns_24plus= ["vac_24_36b,N,16,0",
                "vac_36_bus,N,16,0"]
balt_2020Q2_df["Business vacancies 24 mos. or longer"]=balt_2020Q2_df[columns_24plus].sum(axis=1)

In [ ]:
# Q2: Sum columns for "No-Stat" <24 months for businesses and add new column "Business No-Stat <24 months"
# "No-Stat" is for buildings that USPS does not consider deliverable either because they're under construction or are abandoned
columns_nostat24= ["ns_3_bus,N,16,0",
                  "ns_36_bus,N,16,0",
                  "ns_6_12_b,N,16,0",
                  "ns_12_24_b,N,16,0"
                  ]
balt_2020Q2_df["Business no-stat <24 months"]=balt_2020Q2_df[columns_nostat24].sum(axis=1)

In [ ]:
# Q2: Sum columns for "No-Stat" 24+ months for businesses and add new column "Business No-Stat 24 mos. or longer"

columns_nostat24plus= ["ns_24_36_b,N,16,0",
                       "ns_36_bus,N,16,0"]
                  
balt_2020Q2_df["Business no-stat 24 mos. or longer"]=balt_2020Q2_df[columns_nostat24plus].sum(axis=1)
balt_2020Q2_df.head()

In [ ]:
# Q1: Sum columns for vacancies <24 months for businesses and add new column "Business vacancies <24 months"
columns_under24= ["vac_3_bus,N,16,0",
                 "vac_3_6_b,N,16,0",
                 "vac_6_12b,N,16,0",
                 "vac_12_24b,N,16,0"]

balt_2020Q1_df["Business vacancies <24 months"]=balt_2020Q1_df[columns_under24].sum(axis=1)

In [ ]:
# Q1: Sum columns for vacancies 24 months or longer for businesses and add new column "Business vacancies 24 mos. or longer"
columns_24plus= ["vac_24_36b,N,16,0",
                "vac_36_bus,N,16,0"]
balt_2020Q1_df["Business vacancies 24 mos. or longer"]=balt_2020Q1_df[columns_24plus].sum(axis=1)

In [ ]:
# Q1: Sum columns for "No-Stat" <24 months for businesses and add new column "Business No-Stat <24 months"
# "No-Stat" is for buildings that USPS does not consider deliverable either because they're under construction or are abandoned
columns_nostat24= ["ns_3_bus,N,16,0",
                  "ns_36_bus,N,16,0",
                  "ns_6_12_b,N,16,0",
                  "ns_12_24_b,N,16,0"
                  ]
balt_2020Q1_df["Business no-stat <24 months"]=balt_2020Q1_df[columns_nostat24].sum(axis=1)

In [ ]:
# Q2: Sum columns for "No-Stat" 24+ months for businesses and add new column "Business No-Stat 24 mos. or longer"

columns_nostat24plus= ["ns_24_36_b,N,16,0",
                       "ns_36_bus,N,16,0"]
                  
balt_2020Q1_df["Business no-stat 24 mos. or longer"]=balt_2020Q1_df[columns_nostat24plus].sum(axis=1)
balt_2020Q1_df.head()

In [ ]:
#short_balt_2021 = balt_2021_df.drop(["vac_3_bus,N,16,0",
#                 "vac_3_6_b,N,16,0",
#                 "vac_6_12b,N,16,0",
#                 "vac_12_24b,N,16,0",
#                 "vac_24_36b,N,16,0",
#                 "vac_36_bus,N,16,0",
#                 "ns_3_bus,N,16,0",
#                "ns_36_bus,N,16,0",
#                 "ns_6_12_b,N,16,0",
#                 "ns_12_24_b,N,16,0",
#                 "ns_24_36_b,N,16,0",
#                 "ns_36_bus,N,16,0"                   
#                 ],

In [ ]:
short_balt_2020Q4 = balt_2020Q4_df[["geoid,C,11", "Business vacancies <24 months", "Business vacancies 24 mos. or longer",
                               "Business no-stat <24 months", "Business no-stat 24 mos. or longer"]]
short_balt_2020Q4 = short_balt_2020Q4.rename(columns={"geoid,C,11": "GEOID"})
short_balt_2020Q4

In [ ]:
short_balt_2020Q3 = balt_2020Q3_df[["geoid,C,11", "Business vacancies <24 months", "Business vacancies 24 mos. or longer",
                               "Business no-stat <24 months", "Business no-stat 24 mos. or longer"]]
short_balt_2020Q3 = short_balt_2020Q3.rename(columns={"geoid,C,11": "GEOID"})
short_balt_2020Q3

In [ ]:
short_balt_2020Q2 = balt_2020Q2_df[["geoid,C,11", "Business vacancies <24 months", "Business vacancies 24 mos. or longer",
                               "Business no-stat <24 months", "Business no-stat 24 mos. or longer"]]
short_balt_2020Q2 = short_balt_2020Q2.rename(columns={"geoid,C,11": "GEOID"})
short_balt_2020Q2

In [ ]:
short_balt_2020Q1 = balt_2020Q1_df[["geoid,C,11", "Business vacancies <24 months", "Business vacancies 24 mos. or longer",
                               "Business no-stat <24 months", "Business no-stat 24 mos. or longer"]]
short_balt_2020Q1 = short_balt_2020Q1.rename(columns={"geoid,C,11": "GEOID"})
short_balt_2020Q1

In [ ]:
# merge the corridor key dataframe with the short_balt_2021 dataframe on the common column "GEOID"
balt_dfQ4 = pd.merge(
    short_balt_2020Q4, corr_key_df, on="GEOID")

# remove any columns with missing values, by using .dropna()
balt_dfQ4 = balt_dfQ4.dropna()
balt_dfQ4

In [ ]:
# Replace the census variable codes (such as "B19013_001E") in the dataframe with text so it's understandable
census_joined = census_joined.rename(columns={"B01003_001E": "Population",
                                      "tract": "Census Tract",        
                                      "B01002_001E": "Median age",
                                      "B19013_001E": "Median household income",
                                      "B19301_001E": "Per capita income", 
                                      "B17001_002E": "Poverty count",
                                      "B23025_004E": "# employed, age 16+",
                                      "B23025_005E": "Unemployment count",
                                      "B15003_017E": "# persons age 25+ graduated high school",
                                      "B15003_022E": "# persons age 25+ with Bachelor's degree",
                                      "B02001_002E": "Pop. white",
                                      "B02001_003E": "Pop. Black",
                                      "B02001_005E": "Pop. Asian",        
                                      "B02001_008E": "Pop. 2 or more races",
                                      "B03001_003E": "Pop. Hispanic origin",
                                      "B25008_002E": "Total pop. in occupied housing units by tenure",
                                      "B25003_002E": "Total owner-occupied units",
                                      "B25003_003E": "Total renter-occupied units",
                                      "NAME": "Name", "state": "State", "GEOID": "GEOID"})

In [ ]:
# Add in home ownership rate (# owner-occupied units / # of occupied housing units)
# sum 2 columns: total owner-occupied units + total renter-occupied units to create additional column "Total occupied units" 
sum_column = census_joined['Total owner-occupied units'] + census_joined['Total renter-occupied units']
census_joined["Total occupied units"] = sum_column

In [ ]:
census_joined["Home ownership rate"] = 100 * \
    census_joined["Total owner-occupied units"].astype(
        int) / census_joined["Total occupied units"].astype(
        int) 

census_joined.head()

In [ ]:
# Round the home ownership rate to one decimal point; using "float" instead of "int" because want to use decimal points
census_joined["Home ownership rate"] = census_joined["Home ownership rate"].astype(float).round(1)

In [ ]:
# List the columns in the  dataframe
short_balt_2020Q4.columns

In [ ]:
# Calculate the number of unique census tracts in the DataFrame
tract_count = len(short_balt_2020Q4["GEOID"].unique())
tract_count

In [ ]:
# reset the index numbers for the dataframe (the first column)
corridors_df = corridors_df.reset_index(drop=True)
corridors_df.head()
# remove the "county" column as it is not needed
#corridors_df = corridors_df.drop(["county"], axis=1)

In [ ]:
# Change order of columns in DataFrame by using double brackets
# Notice that columns such as "state" and "county" were not included in the code below and they are no longer included in the dataframe (they're extraneous, we don't need them)
corridors_df = corridors_df[["Corridor", "Census_tract", "GEOID", "Population", "Median household income",
                       "Per capita income", "Poverty count", "Poverty rate", "Unemployment rate", 
                       "# employed, age 16+", "Unemployment count",
                      "# persons age 25+ graduated high school", "# persons age 25+ with Bachelor's degree",
                      "Median age","Pop. white", "Pop. Black", "Pop. 2 or more races", "Pop. Hispanic origin", 
                      "Pop. Asian","Total pop. in occupied housing units by tenure", "Total owner-occupied units", "Total renter-occupied units",
                      "Pop. <18 years", "Pop. working age", "Pop. 65+ years"]]

corridors_df.head()

In [ ]:
# sort the column "Census_tract" so that it is easier to compare with other years that we are going to pull in another notebook
census_2019_FINAL =corridors_df.sort_values("Census_tract")
census_2019_FINAL = census_2019_FINAL.reset_index(drop=True)
census_2019_FINAL

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
# Do not run this last code block until you have all previous code blocks in their final form:

#census_2019_FINAL.to_csv("CommCorr_Census_Stats_2019.csv", index = False, header=True)

In [ ]:
census_2019_formatted = census_2019_FINAL
census_2019_formatted.head()

In [ ]:
# Use .map to format columns (helpful resource for this: https://towardsdatascience.com/apply-thousand-separator-and-other-formatting-to-pandas-dataframe-45f2f4c7ab01)
# Note: once you format values in a column, they are changed to strings (see cell below to see data types of each column)
# I will use the census_2017_FINAL dataframe to use for analysis as needed (can do calculations with number data types but not strings)
# You may need to restart the kernel after you format
census_2019_formatted["Median household income"] = census_2019_FINAL["Median household income"].map("${:.2f}".format)
census_2019_formatted["Per capita income"] = census_2019_FINAL["Per capita income"].map("${:.2f}".format)
census_2019_formatted["Population"] = census_2019_formatted["Population"].map("{:,.0f}".format)
census_2019_formatted["Poverty count"] = census_2019_formatted["Poverty count"].map("{:,.0f}".format)
census_2019_formatted["Poverty rate"] = census_2019_formatted["Poverty rate"].map("{:.2%}".format)
census_2019_formatted["Unemployment rate"] = census_2019_formatted["Unemployment rate"].map("{:.2%}".format)

census_2019_formatted = census_2019_formatted.reset_index(drop=True)
census_2019_formatted.head()